body {
    margin: 0;
    background-color: #b6c2d9;

}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9E90A2;
    font-size: 1.5em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4D7EA8;
}

.active {
    color: #272932;
}

main {
    background-color: #272932;
    color: #B6C2D9;
    padding: 20px;
    overflow: hidden;
    margin: 0 25px
}

img {
    width: 30%;
    margin: 20px;
}

.left-image {
    float: left;
}

.right-image {
    float: right;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}